/* Контейнер для страницы */
.author-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Белый цвет */
    padding: 20px;
    width: 100%;
    max-width: 800px; /* Ограничиваем максимальную ширину */
    margin: 20px auto; /* Центрируем контейнер по горизонтали */
    border-radius: 12px;
}

/* Блок с информацией об авторе */
.author-info-block {
    text-align: center;
    background-color: #B9B9B9; /* Серый цвет */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Портрет автора */
.author-portrait {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Имя автора */
.author-name {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Информация о годах жизни автора */
.author-years {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Биография автора */
.bio-container {
    width: 80%;
    text-align: justify;
    background-color: #B9B9B9; /* Серый цвет */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bio-container p {
    font-size: 16px;
    color: white;
    margin: 10px 0;
}

/* Контейнер для книг */
.books-container {
    width: 100%;
    background-color: #B9B9B9; /* Серый цвет */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center; /* Центрируем текст */
}

/* Заголовок списка книг */
.books-container h2 {
    color: white;
    margin-bottom: 20px;
}

/* Список книг */
.books-list {
    list-style-type: none;
    padding: 0;
}

/* Элемент списка книг */
.books-list li {
    margin-bottom: 20px;
}

/* Блок книги */
.book-block {
    background-color: #888888; /* Темно-серый цвет */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Центрируем текст */
}

/* Ссылка на книгу */
.book-block a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: font-size 0.3s ease;
}

/* Эффект увеличения ссылки при наведении */
.book-block a:hover {
    font-size: 20px;
}

/* Краткое описание книги */
.book-block p {
    font-size: 16px;
    color: white;
    margin: 10px 0;
}

/* Контейнер для рейтинга */
.rating {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}