{% extends 'layout.html' %}

{% block title %}Список книг для {{ user.username }}{% endblock %}

{% block content %}
    <h1>Список книг для {{ user.username }}</h1>

    <!-- Прочитанное -->
<h2>Прочитанное</h2>
{% if reading_dict %}
    {% for author, books in reading_dict.items %}
        <h3>{{ author }}</h3>
        <ul>
            {% for book, data in books.items %}
                <li>
                    <h4>{{ book }}</h4>
                    <p>Оценка: {{ data.0|default:"Не указана" }}</p>
                    <p>Дата прочтения: {{ data.1|date:"d.m.Y"|default:"Не указана" }}</p>
                    {% if is_owner %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="delete_reading" value="{{ data.2 }}">
                            <button type="submit">Удалить</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>Нет прочитанных книг</p>
{% endif %}

<!-- Читается сейчас -->
<h2>Читается сейчас</h2>
{% if currently_reading_list %}
    <ul>
        {% for item in currently_reading_list %}
            <li>
                <h4>{{ item.book.title }}</h4>
                <p>Автор(ы):
                    {% for author in item.book.authors.all %}
                        {{ author.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% if is_owner %}
                    <form method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="delete_currently_reading" value="{{ item.id }}">
                        <button type="submit">Удалить</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нет книг, которые читаются сейчас</p>
{% endif %}

<!-- Планируется к прочтению -->
<h2>Планируется к прочтению</h2>
{% if planned_reading_list %}
    <ul>
        {% for item in planned_reading_list %}
            <li>
                <h4>{{ item.book.title }}</h4>
                <p>Автор(ы):
                    {% for author in item.book.authors.all %}
                        {{ author.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% if is_owner %}
                    <form method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="delete_planned_reading" value="{{ item.id }}">
                        <button type="submit">Удалить</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нет книг, запланированных к прочтению</p>
{% endif %}

{% endblock %}