{% extends 'layout.html' %}

{% block title %}Список прочитанного для {{ user.username }}{% endblock %}

{% block content %}
    <h1>Список прочитанного для {{ user.username }}</h1>

    <h2>Прочитанное</h2>
    {% if reading_dict %}
        {% for author, books in reading_dict.items %}
            <h3>{{ author }}</h3>
            <ul>
                {% for book, data in books.items %}
                    <li>
                        <h4>{{ book }}</h4>
                        <p>Оценка: {{ data.0|default:"Не указана" }}</p>
                        <p>Дата прочтения: {{ data.1|date:"d.m.Y"|default:"Не указана" }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>Нет прочитанных книг</p>
    {% endif %}
{% endblock %}
