<!DOCTYPE html>
<html>
<head>
    {% load static %}  <!-- Загрузка библиотеки тегов static -->
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Мой сайт</h1>
        <nav>
            <ul>
                <li><a href="{% url '' %}">Главная</a></li>
                <li><a href="{% url 'books' %}">Книги</a></li>
                <li><a href="{% url 'authors' %}">Авторы</a></li>
           
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Содержимое страницы будет здесь -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Мой сайт</p>
    </footer>
</body>
</html>