<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Заголовок страницы и загрузка стилей -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LivreDePoche{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Подключение Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <!-- Заголовок сайта -->
    <header class="site-header">
        <div class="container">
            <!-- Название сайта слева -->
            <h1 class="site-title"><a href="{% url 'index' %}" class="site-title-link">LivreDePoche</a></h1>

            <!-- Основная навигация -->
            <nav class="main-nav">
                <ul class="nav-list">
                    <li><a href="{% url 'index' %}" class="nav-link">Главная</a></li>
                    <li><a href="{% url 'books' %}" class="nav-link">Книги</a></li>
                    <li><a href="{% url 'authors' %}" class="nav-link">Авторы</a></li>
                </ul>
            </nav>

            <!-- Иконка пользователя -->
            {% if user.is_authenticated %}
                <div class="user-menu">
                    <i class="bi bi-person-circle user-icon"></i>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'users:profile' request.user.username %}" class="nav-link">Мой профиль</a></li>
                        <li><a href="{% url 'users:logout' %}" class="nav-link">Выйти</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="auth-links">
                    <a href="{% url 'users:login' %}" class="nav-link">Войти</a>
                    <a href="{% url 'users:register' %}" class="nav-link">Регистрация</a>
                </div>
            {% endif %}
        </div>
    </header>

    <!-- Основной контент страницы -->
    <main class="main-content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Подвал сайта -->
    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2024 <a href="https://t.me/banworddd10" class="footer-link">banworddd</a></p>
        </div>
    </footer>
</body>

<script src="{% static 'js/layout.js' %}"></script>

</html>
