{% extends 'layout.html' %}
{% load static %}

{% block title %}Список авторов{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/authors.css' %}">
{% endblock %}

{% block content %}
    <div id="author-list-container">
        <h1 class="page-title">Loading...</h1>
        <ul class="author-list" id="author-list">
            <!-- Authors will be inserted here by JavaScript -->
        </ul>
    </div>
    <script src="{% static 'js/authors.js' %}"></script>
{% endblock %}  