{% extends 'layout.html' %}
{% load static %}

{% block title %}Список авторов{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/authors.css' %}">
{% endblock %}

{% block content %}
<div id="author-list-container">
    <!-- Заголовок страницы -->
    <h1 class="page-title">Список Авторов</h1>

    <!-- Список авторов -->
    <ul class="author-list">
        {% for author in authors %}
            <li class="author-card">
                <!-- Имя автора с ссылкой -->
                <h2 class="author-name">
                    <a href="{% url 'author_detail' author.id %}">{{ author.name }}</a>
                </h2>

                <!-- Годы жизни автора -->
                <p class="author-info">
                    <strong>Годы жизни:</strong> {{ author.date_of_birth }} - {{ author.date_of_death }}
                </p>

                <!-- Краткая биография автора -->
                <p class="author-info">{{ author.bio }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
