{% extends "layout.html" %}
{% load static %}

{% block title %}
Детали книги
{% endblock %}

{% block content %}
<h1 id="book-title">Загрузка...</h1>
<p><strong>Автор:</strong> <span id="book-author">Загрузка...</span></p>
<p><strong>Описание:</strong> <span id="book-description">Загрузка...</span></p>
<p><strong>Год издания:</strong> <span id="book-year">Загрузка...</span></p>

{% if user.is_authenticated %}
    <div id="reading-list-buttons" data-username="{{ user.username }}">
        <h3>Добавить в список</h3>
        <button id="add-to-wishlist" data-status="planned">Добавить в список желаемого</button>
        <button id="add-to-reading" data-status="currently_reading">Добавить в список читаемого</button>
        <button id="add-to-completed" data-status="completed">Добавить в список прочитанного</button>
    </div>
{% endif %}

<div class="reviews-section">
    <!-- Хедер с отзывом пользователя или формой для добавления -->
    <div id="user-review-header">
        <!-- Отзыв пользователя или форма добавления отзыва будет динамически вставлена сюда -->
    </div>

    <!-- Список всех отзывов -->
    <ul id="reviews-list">
        <!-- Отзывы будут динамически добавляться сюда -->
    </ul>
</div>


<script src="{% static 'js/book_detail.js' %}"></script>

{% endblock %}
