{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/books.css' %}">
{% endblock %}

{% block title %}Список книг{% endblock %}

{% block content %}
<div class="books-page-container">
    <!-- Блок с книгами -->
    <div class="book-list-container">
        <h1 class="page-title">Список книг</h1>
        <br>
        <ul id="book-list" class="book-list">
            <!-- Книги будут загружены через JS -->
        </ul>
    </div>
</div>

<script src="{% static 'js/books.js' %}"></script>
{% endblock %}
