{% extends 'layout.html' %}

{% block title %}ГЛАВНАЯ СТРАНИЦА{% endblock %}

{% block content %}
    <h1 style="text-align: center;">ГЛАВНАЯ СТРАНИЦА</h1>

    <div style="max-width: 800px; margin: 0 auto; text-align: center;">
        <p>
            Добро пожаловать на наш сайт, посвященный книгам и авторам!
            Здесь вы можете исследовать обширную библиотеку, находить
            интересные книги и узнавать больше о ваших любимых авторах.
        </p>

        <h2>Что вы можете сделать на нашем сайте:</h2>
        <ul style="list-style-type: none; padding: 0;">
            <li>📚 Просматривать подробные информации о книгах.</li>
            <li>✍️ Оставлять отзывы на прочитанные книги.</li>
            <li>⭐ Добавлять книги в свои списки чтения.</li>
            <li>👥 Узнавать о новых авторах и их произведениях.</li>
        </ul>

        <h2>Присоединяйтесь к нам!</h2>
        <p>
            Если вы еще не зарегистрированы, <a href="{% url 'register' %}">зарегистрируйтесь</a>
            и начните свое литературное путешествие прямо сейчас!
        </p>
    </div>
{% endblock %}
