{% extends 'layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div id="welcome-container">
    <h2 class="welcome-title">📚 Добро пожаловать на LivreDePoche! 🌟</h2>
    <p class="welcome-text">Здесь вы найдёте <strong>огромное разнообразие книг</strong>, сможете делиться впечатлениями 📖 и открывать новые шедевры литературы. Присоединяйтесь к нашему сообществу читателей уже сегодня!</p>
    <ul class="features-list">
        <li>🔍 Удобный поиск книг по жанрам и авторам.</li>
        <li>⭐ Читайте отзывы и делитесь своими.</li>
        <li>📚 Создавайте списки чтения и следите за прогрессом.</li>
        <li>💬 Общайтесь с другими любителями книг.</li>
    </ul>
    <p class="welcome-call-to-action">✨ Начните путешествие по миру литературы прямо сейчас! ✨</p>
</div>
{% endblock %}
